.container {
    //max-width: 70rem;
    width: 1920px;
    //height: 1080px;
    height: 1080px;
    margin: 0 auto;
    text-align: center;
    background: #F2F2F2;
    overflow: hidden; 
    
}

.form-container {
    background-color: $form-background;
    border: 0.1rem solid black;
    margin: 0 auto;
    text-align: left;
    width: 55rem;
    //display: block;
    //width: 40%;
    padding: 1rem 0 ;
   
    
    padding-left: 20px;
    
}

.buttons-container {
    width: 30.2rem;
    padding: 1rem 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: black;
}

