.website-name {
    font-size: $title-fontsize;
}

.description {
    margin-bottom: 5rem;
}

label {
    display: block;
}

form div {
    margin-bottom: 0.5rem;
}

form div label {
    margin-bottom: 0.3rem;
}