<<<<<<< HEAD
.website-name {
    font-size: $title-fontsize;
}

.description {
    margin-bottom: 5rem;
}

label {
    display: block;
}

form div {
    margin-bottom: 0.5rem;
}

form div label {
    margin-bottom: 0.3rem;
}
=======
.page-title {
  font-size: $title-fontsize;
}

.description {
  margin-bottom: 5rem;
}

label {
  display: block;
}

form div {
  margin-bottom: 0.5rem;
}

form div label {
  margin-bottom: 0.3rem;
}
>>>>>>> a53ff1dee3614355503f2e36f50cd12cfa71aa2e
