// .page-title {
//   font-size: $title-fontsize;
// }

// .description {
//   margin-bottom: 5rem;
// }

// label {
//   display: block;
// }

// form div {
//   margin-bottom: 0.5rem;
// }

// form div label {
//   margin-bottom: 0.3rem;
// }

.heroTitle {
  border: none;
  border-top: 3px solid #000;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 4rem;
}

.heroTitle:after {
  background: white;
  // background: $background;
  // content: "PROJECTS";
  padding: 0 3rem;
  position: relative;
  top: -13px;
  font-size: 3rem;
}
