.navbar {
    background: black;
    color: white;
    margin: 0;
    display: flex;
    justify-content: space-between;
    // flex-wrap: nowrap;
}

.nav__brand {
    display: inline;
}

.nav__links {
    // background-color: purple;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
}

.nav__item {
    font-size: 1.3rem;
    order: 1;
    position: relative;
    display: block;
    width: auto;
    text-decoration: none
}

.nav__item:hover {
    cursor: pointer;
}

.nav__item:visited{
    color: grey;
}