.navbar {
  background: black;
  color: white;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.nav__logo {
  display: inline;
  order: 0;
  justify-content: flex-start;
  text-decoration: none;
  margin: 0 2rem;
}

.nav__links {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
}

.nav__item {
  font-size: 1.3rem;
  position: relative;
  display: block;
  width: auto;
  text-decoration: none;
  margin: 1.5rem;
}

.nav__item:hover {
  cursor: pointer;
}

.nav__item:visited {
  color: grey;
}
