.vertCon{
    width: 250px;
    height: 1080px;
    //text-align: center;
    background-color: white;
    margin-left: 200px;
}

.username-container{
    border: 1px solid #292929;
    box-sizing: border-box;
    align-items: stretch;
}